*{
    font-family: 'Poppins', sans-serif;
    font-size: 11pt;
    font-weight: bold;
}
h1{
    font-size: 20pt;
    text-align: center;
    margin: 10px 0 10px 0;
    color: black;
    font-family: 'Dancing Script', cursive;
}


body{
    /*background: linear-gradient(to right bottom, white,#F7CAC9,  white);*/
    background-color: hsl(215, 28%, 65%);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
.wrapper
{
outline-style: solid;
outline-color: grey;
border-radius: 7px;
padding: 0 15px 15px 15px;
width: 380px;
background: hsl(0, 0%, 89%);
}

.information{
    background-color: white;
    border: 1px solid grey;
    width: 360px;
    height: 150px;
    margin: 0 10px 20px 10px;
    border-radius: 5px;
}
.output{
    background-color: white;
    border: 1px solid grey;
    width: 360px;
    height: 300px;
    margin: 0 10px 10px 10px;
    border-radius: 5px;
}
.bill-amount, .personen{
    float: left;
    width: 50%; 
    padding: 0 20px 20px 5px;
    box-sizing: border-box;
    margin-bottom: 10px;

}
.bill-amount{
    padding: 0 5px 10px 0;
    margin-bottom: 5px;
}
.bill-amount p, .personen p{
    margin: 10px 0 8px 0;
}
.bill-amount p{
    padding-left: 3px;
}
.bill-amount svg, .personen svg{
    float: left;
    height: 22px;
}
.personen svg{
    height: 26px;
}

.bill-amount input, .personen input{
    width: 125px;
    border: none;
  border-bottom: 2px dotted grey;
}
.personen{
    padding: 0 5px 10px 10px;
    margin-bottom: 8px;
}

#textInput{
    width: 20px;
    height: 10px;
    margin-left: 0;
  
}
.total-tip, .per-person{
    float: left;
    width: 50%; 
    padding: 0 20px 20px 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
   
}
.total-tip{
    padding-right: 5px;
    padding-bottom: 10px;
    margin-bottom: 20px;

    
}
.total-tip p, .per-person p{
    margin-top: 10px;
    margin-bottom: 8px;
    border-bottom: 1px solid grey;
    width: 145px;
}
.total-tip p{
    padding-left: 3px;
}
.per-person{
    padding: 0 5px 10px 10px;
    margin-bottom: 20px;
}
#tip-display.val, input #tip-range {
    float: left;
    width: 50%; 
    padding: 20px;
    box-sizing: border-box;
    padding-left: 25px;
    margin-bottom: 10px;
    padding-top: 0;
    padding-left: 5px;
}
#tip-display{
    margin-left: 10px;
}
#tip-display.val{
    width: 30px;
    margin-left: 5px;
    margin-bottom: 0;
}
.tip-selector p{
    margin-left: 8px;
}

input[type= "range"]{
    width: 308px;
    cursor: pointer;
}
input[type= "range"] :not(:last-child){
    margin-bottom: 5px;
}

#per-person-amount, #total-amount{
    border-bottom: 2px double grey;
    width: 145px;
}
#total-amount{
    padding-left: 3px;
}
.fixed-currency, .img-arrow, .currency-selector {
    float: left; 
    margin: 0px 2% 20px 0px;
    padding: 0px 20px 0px 10px;
    box-sizing: border-box;
   
}
.fixed-currency, .currency-selector{
    width: 35%;
}
.fixed-currency p, .currency-selector p{
    margin-top: 0;
    margin-bottom: 0;

}
.img-arrow{
    width: 20%;
    align-items: center;
    padding: 0 28px 0 28px;
}

.currency-selector {
    margin-right: 0;
}
.total-tip-foreign-currency, .per-person-foreign-currency{
    float: left;
    width: 50%; 
    padding: 20px;
    box-sizing: border-box;
    padding-left: 25px;
    margin-bottom: 20px;
    padding-top: 0;
    padding-left: 5px;
}
.total-tip-foreign-currency{
    padding-right: 5px;
    padding-bottom: 10px;
    margin-bottom: 5px;
}
.total-tip-foreign-currency p, .per-person-foreign-currency p{
    margin-top: 10px;
    margin-bottom: 8px;
    border-bottom: 1px solid grey;
    width: 145px;
}
.total-tip-foreign-currency p{
    padding-left: 3px;
}
.per-person-foreign-currency{
    padding-right: 5px;
    padding-left: 10px;
    padding-bottom: 10px;
    margin-bottom: 8px;
}
#per-person-amount-foreign-currency, #total-amount-foreign-currency{
    border-bottom: 2px double grey;
    width: 145px;
}
#total-amount-foreign-currency{
    padding-left: 3px;
}
#currency-calculate-button{
    width: 350px;
    margin: 0 5px 20px 5px;
}