*{
    font-family: 'Poppins', sans-serif;
    font-size: 11pt;
    font-weight: bold;
}
h1{
    font-size: 20pt;
    text-align: center;
    margin: 10px 0 10px 0;
    color: black;
    font-family: 'Dancing Script', cursive;
}
body{
    /*background: linear-gradient(to right bottom, white,#F7CAC9,  white);*/
    background-color: hsl(215, 28%, 65%);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrapper
{
outline-style: solid;
outline-color: grey;
border-radius: 7px;
padding: 0 15px 15px 15px;
width: 380px;
background: hsl(0, 0%, 89%);
}
.information{
    background-color: white;
    border: 1px solid grey;
    width: 360px;
    height: 235px;
    margin: 0 10px 20px 10px;
    border-radius: 5px;
}
.output{
    background-color: white;
    border: 1px solid grey;
    width: 360px;
    height: 177px;
    margin: 0 10px 10px 10px;
    border-radius: 5px;
}
.bill-amount, .personen{
    float: left;
    width: 165px; 
    box-sizing: border-box;
}
.bill-amount{
    margin: 5px 5px 15px 10px;
}
.personen{
    margin-right: 10px;
    margin: 5px 0px 15px 15px;
}
.bill-amount p, .personen p{
    margin: 10px 0 8px 0;
}
.bill-amount p{
    padding-left: 3px;
}
.bill-amount svg, .personen svg{
    float: left;
    height: 22px;
}
.personen svg{
    height: 26px;
}
.bill-amount input, .personen input{
    width: 125px;
    border: none;
  border-bottom: 2px dotted grey;
}
.tip-selector {
    margin-top: 91px;
    margin-bottom:15px;
}
.tip-selector p{
    height: 22px;
    margin-left: 10px;
    margin-bottom: 8px;
}
#textInput{
    width: 20px;
    height: 10px;
    margin-left: 0;
}
.total-tip, .per-person, .total-tip-foreign-currency, .per-person-foreign-currency {
    float: left;
    width: 165px; 
    box-sizing: border-box; 
}
.total-tip, .total-tip-foreign-currency{
    margin: 5px 5px 15px 10px;
}
.total-tip p, .per-person p, .total-tip-foreign-currency p, .per-person-foreign-currency p{
    margin: 0px 0px 8px 0;
    border-bottom: 1px solid grey;
    width: 145px;
}
.per-person, .per-person-foreign-currency{
    margin-right: 10px;
    margin: 5px 0px 15px 15px;
}
#tip-range{
    width: 318px;
}
#tip-display{
    margin-left: 10px;
}
#tip-display.val{
    width: 30px;
    margin-left: 5px;
    margin-bottom: 0;
}
input[type= "range"]{
    width: 308px;
    cursor: pointer;
}
input[type= "range"] :not(:last-child){
    margin-bottom: 5px;
}
#per-person-amount, #total-amount, #per-person-amount-foreign-currency, #total-amount-foreign-currency{
    border-bottom: 2px double grey;
    width: 145px;
}
.fixed-currency, .img-arrow, .currency-selector {
    float: left; 
    padding: 0px 20px 0px 10px;
    box-sizing: border-box;
}
.fixed-currency, .currency-selector{
    width: 35%;
    margin: 15px 10px 15px 10px;
}
.fixed-currency p, .currency-selector p{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 3px;
}
.img-arrow{
    width: 20%;
    align-items: center;
    padding: 0 25px 0 20px;
    margin-top: 20px;
}
.currency-selector {
    margin: 15px 5px 15px 0px;
}
#currency-calculate-button{
    width: 337px;
    margin: 0 5px 20px 8px;
}